- @title_content    = 'Frequently Asked Questions'
- @meta_description = 'LIXY helps companies build high performing distributed software development and engineering teams with the top 1% African software developers. We manage skill assessment, onboarding, and continual learning for all of our engineers.'

%section
  %h3 General Questions
  %h5 Africa? Really? Are there developers there?
  %p Yes really!
  %p Africa is now the fastest-growing internet population, having grown almost 12,000% over the last two decades and now has more internet users than North American.
  %p Today there is a robust software development community in Africa with many talented software engineers. Many experienced developers are working for domestic African software companies, as well as remotely for companies all over the world. Similar to the rest of the world, engineering is one of the best opportunities for individual success in Africa.
  %p Many US-based companies have offices in Africa, just a few examples:
  %ul
    %li Google
    %li Uber
    %li Microsoft
    %li Cisco Systems
    %li General Electric
    %li IBM
    %li Oracle
    %li Intel Corporation
    %li LG
    %li Sony

  %h5 Do they speak English?
  %p Yes, many African nations use English as their primary language. They are taught English in school, use it for business, and throughout government institutions. There are over 700 million English speakers in Africa.

  %p New graduates learn English as part of their requirements. Earlier graduates have learned it on the job, along with other work experience. In any case, we only hire developers who can hold a spoken conversation in English—this is one of the steps in our interview process.

  %h5 What about the infrastructure? I've heard it is poor in Africa.
  %p While it's true that the infrastructure is not the same as you get in the developed world, it has improved by leaps and bounds over the last decade, and continues to improve rapidly.
  %p Africa is now the fastest-growing internet population, having grown almost 12,000% over the last twenty years, with most of that growth in the last 10; It now has more internet users than the North American continent.
  %p Power can be a concern as well as some African countries do not have reliable power distribution networks. This can be easily managed with generators and battery back up systems, which is something we handle for all our engineers.

%section
  %h3 Engagement Model

  %h5 How do you engage with new clients?
  %p Each situation is different; therefore, we will accommodate your specific needs, but we follow this general approach:

  %ul
    %li First, we schedule a call to discuss how you operate, what you are looking for, and how we can best help you hit your goals.
    %li As soon as the contract is signed (and sometimes, sooner), we begin recruiting engineers for the specific skills you need.
    %li We have another conversation with you to figure out how you currently build your software to identify any gaps in tools and processes (i.e., what we use versus what you use).
    %li Once we've identified the right candidate, we begin training them in any areas they need improvement, and how they can fit into your organization.
    %li We then set the start date for the engineer to join your team.
    %li For the first month, we do a weekly check-in with our account manager and your team to make onboarding is moving forward smoothly.
    %li After the first month, we schedule a check-in every 1-2 months, depending on your preferences, to make sure the process continues to work optimally for you.

  %h5 How can I keep track of what is going on?
  %p If you have a current development practice, our engineers will participate in the system that you are using.

  %p If you don't yet have a development process, we will help you build one that works best for you. Typically this will be structured in the following way:

  %ul
    %li Set up a weekly or bi-weekly planning meeting to set the goals for the week.
    %li Daily "standup" meetings. The developers will briefly go over what they did in the last 24 hours, what they are planning to do today, and any issues they have that need to be addressed. These short, 10-15 minute meetings are critical to keep on top of what is going on, keep the team in sync, and quickly identify and roadblocks.
    %li Every team member communicates online using an online collaboration tool like Slack, Hip Chat, or something similar.

  %p We will work with you to ensure you have everything you need to manage your product development process effectively.

%section
  %h3 Recruiting

  %h5 What kind of people do you look for?
  %p We are looking for people that are skilled communicators, well organized, and have excellent technical experience.

  %p While the breadth and depth of their expertise are essential, and we look for that first, we sometimes find young talent with “superstar” written all over, and those candidates go to the top of the list as well.

  %p First and foremost, candidates are required to have fluent English, both spoken and written.

  %p They have to fit and work well with your current staff. We are looking for self-starters with positive attitudes, but you will always have an opportunity to speak with them before a final decision to ensure they fit well into your teams.

  %h5 How quickly can you staff a new team?
  %p This largely depends on the skills you require. For common programming languages, such as JavaScript, Python, and Java, we can typically place an engineer within 2 weeks. We are constantly looking for the top engineers and have built a large pipeline of pre-qualified engineers, which allows us to move quickly.

  %h5 How do you find people so quickly? Do you just grab the first “warm body” that applies?
  %p Absolutely not, we are very selective! On average, we hire about 0.5% of the applicants. To put another way: On average, we have about 200 people apply for every new job opening.

  %p We can move so quickly because we are always looking for talent and keep a long, up-to-date pipeline of candidates. Even when we do not have an open position, we accept applications, allowing us to accelerate the hiring process once a new post becomes available.

  %p We follow a rigorous multi-step recruiting process that allows us to identify the top candidates quickly:

  %a{name: 'recruiting-process'}
  %h5 Recruiting Process
  %ul
    %li
      %p Initial technical screen. We do an initial evaluation to identify professional strengths and weaknesses. We focus on the primary programming language the applicant knows, other relevant technologies based on their experience, and their understanding of general programming concepts.
      %p Only 10% of applicants make it past this stage.
    %li We review the resume and technical screen to ensure the candidate has strong skills in the specific technologies for which you are looking.
    %li Next, they speak with one of our project managers to evaluate their communication skills.
    %li In the one-on-one, we ask candidates to be specific about what they did in their resumes. Not what the company did, or their team did, but about their individual contribution.
    %li Next, we ask them to complete a coding challenge so we can evaluate how they go about programming in a real-world situation.
    %li One of our engineers evaluates the code callenge, looking for quality coding practices.
    %li After evaluation of the code challenge, we schedule a one-on-one with one of our engineers to go into further depth of their technical expertise.
    %li We do a final "yes" or "no" evaluation by the interviewing team.
    %li If they get a positive evaluation, we extend a provisional offer to ensure they are ready to join the team and identify when they can begin working.
    %li We conduct reference checks.
    %li We are now confident that the candidate would make a great member of the team. We schedule a final interview with one or more of your team members for final approval.

%section
  %h3 Questions of Fit
  %h5 Do you have people with [fill in the blank] experience?
  %p Our team has experience with many languages and platforms. But since we assign each engineer to a specific client, we have to build a new team from scratch. Doing this gives us the power to make teams specifically to your needs. We can quickly find highly skilled people that have experience with exactly what you require, and we train our engineers on less common skills that you may need.

  %h5 Will your engineers be able to work with our existing team?
  %p Certainly! We look for engineers that are adaptable in how they work. We are happy to follow any development process that you use.

