- @title_content    = 'History'
- @subtitle         = "Connecting Africa's top tech talent with companies looking for high quality, high value software development"
- @meta_description = 'LIXY helps companies build high performing distributed software development and engineering teams with the top 1% African software developers. We manage skill assessment, onboarding, and continual learning for all of our engineers.'

%h3 History
%p In 2017 I went back to Nigeria to visit my family for the first time in over a decade. I've always known Nigerians to have a tremendous work ethic and a high regard for education, but opportunities to apply that skill and drive were severely lacking. Jobs were very limited, and the infrastructure did not yet exist to allow individuals to access global opportunities. Almost nobody had cell phones, much less a computer or internet access.

%p But on my trip in 2017, I saw that things had dramatically changed. Everybody now has a smart phone with internet access, there was a burgeoning tech scene with many startups building software for the needs of those in Nigeria, and the African continent at large. There was a large and rapidly growing engineering community. Quality job opportunities were still scarce, but now the access had arrived. Seeing the rapid growth of technology and engineering expertise, I realized it was finally possible to create the business I'd been planning for years.

%p Africa is now the fastest growing Internet population, having grown almost 12,000% over the last 2 decades, with most of that growth in the last 10 years. It now has more internet users than the North American Continent.

%p I've been building engineering teams for over 2 decades. I founded my first company in 1998, I've been part of a number of engineering leadership teams, and have a deep understanding of the needs and challenges in building and managing software applications.
